{% extends 'Scenarios.html' %}

{% block title %}DistrictPolarity{% endblock %}

{% block intro %}
<h5>scenario 8</h5>
<h5>The average polarity of different suburbs</h5>
{% endblock %}
{% block head %}
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
             $.getJSON("{{ url_for('districtPolarity_data') }}", function (data) {
                var data1 = new google.visualization.DataTable(data);
                var options = {
                    height: 500,
                    title: 'The average polarity of suburbs ',
                };
                var chart1 = new google.visualization.BarChart(document.getElementById('chart_div1'));
             chart1.draw(data1, options);
            });

         }

    </script>
{% endblock %}

{% block column %}
    <div id="chart_div1"></div>
    <h5>The AURIN data</h5>
    <div class="picture">
      <img src="{{ url_for('static', filename='suburb_polarity.png') }}" alt="" class="profile1" align = "center"> </div>
{% endblock %}