{% extends 'Scenarios.html' %}

{% block title %}sport{% endblock %}

{% block intro %}
<h5>scenario 6</h5>
<h5>What is people sentiment when they discuss sport?</h5>
{% endblock %}

{% block head %}
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.getJSON("{{ url_for('sport_data_avg') }}", function (data) {
                var data1 = new google.visualization.DataTable(data);
                var options = {
                    height: 400,
                    title: 'The average polarity when people discuss sport'
                };
                var chart1 = new google.visualization.ColumnChart(document.getElementById('chart_div1'));
             chart1.draw(data1, options);
            });

             $.getJSON("{{ url_for('sport_data_number') }}", function (data) {
                var data2 = new google.visualization.DataTable(data);
                var options = {
                    height: 400,
                    title: 'The number of tweets that people discuss sport?'
                };
                var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
             chart2.draw(data2, options);
            });


            



        }
    </script>
{% endblock %}
{% block column %}
    <div id="chart_div1"></div>
    <div id="chart_div2"></div>
{% endblock %}